head {
    background-color: yellow;
}

body {
    background-color: #fbeec1;
}

p {
    color: black;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

li {
    color: red;
    font-size: 25px;
    font-style: italic;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

ul {
    height: 100%;
    font-size: 2px;
    display: block;
    border-style: solid;
    border-width: 1px;

    background-color: #daad86;
    margin: 40px 200px 40px 200px;
    list-style-position: inside;
}

h1 {
    color: red;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

#eve {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#end {
    color: black;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

a:hover {
    font-size: 125%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

#end:hover #end:active {
    color: black;
    margin-bottom: 1px;
}

<link rel="shortcut icon"type="image/x-icon"href="favicon.ico"/>